.venv
.idea
.DS_Store
.ruff_cache
.mypy_cache
.pytest_cache
**/__pycache__/**
logs/**
output/generated
**/events.out.tfevents*


# Ignore data contents but keep the folder placeholder
# Keep `data/.gitkeep` tracked if present
/data/*
!/data/.gitkeep

