matplotlib==3.10.7
pillow==12.0.0
sympy==1.14.0
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
numpy==2.3.5
packaging==25.0
python-dateutil==2.9.0.post0
pytz==2025.2
tensorboardX==2.6.4
tifffile==2025.10.16
typing_extensions==4.15.0
tzdata==2025.2
scikit-learn==1.7.2
scipy==1.16.3