matplotlib==3.10.1
pillow==11.1.0
sympy==1.13.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
numpy~=2.2.3
packaging==24.2
python-dateutil==2.9.0.post0
pytz==2025.1
tensorboardX==2.6.2.2
tifffile==2025.3.13
typing_extensions==4.12.2
tzdata==2025.1
scikit-learn~=1.6.1
scipy~=1.15.2